.card {
  left: 2.5%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  height: 349px;
  width: 300px;
}
// .cardBatch {
//   position: absolute;
//   left: 0%;
//   right: 0%;
//   top: 0%;
//   bottom: 0%;
//   background: #ffffff;
//   box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
//   border-radius: 8px;
//   height: 100px;
//   width: 100px;
// }
.cardBatch {
  height: 40px;
  width: 130px;
  position: absolute;
  left: 170px;
  top: inherit;
  bottom: inherit;
  background: #ce2832;
  border-radius: 0px 8px 0px 12px;
}
.cardOneImg {
  max-height: 330px;
  height: 330px;
  max-width: 300px;
  width: 300px;
}
.cardTitleText {
  bottom: 30px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  /* Primary Blue */
  color: #08246c;
}
.cardTitlePrice {
  bottom: 30px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  /* Primary Blue */
  color: #08246c;
}
.bottom-space {
  margin-bottom: 20px;
}
img {
  border-radius: 8px;
}
