.main-text {
    font-weight: 700;
    font-size: 32px;
    line-height: 94.4%;
}

.ship-service-card {
    background: rgba(255, 255, 255, 0.75);
    border: 2px solid #e7edff;
    box-shadow: 0px 0px 10px rgba(117, 117, 117, 0.15);
    // backdrop-filter: blur(8px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 16px;
}

.certification-para-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    padding-bottom: 30px;
}

.certificate-heading {
    position: absolute;
    left: 294px;
    font-size: 64px;
    line-height: 64px;
    font-weight: 700;
    color: #fff;
}

.certification-caption {
    font-weight: 400;
    color: #fff;
    line-height: 33px;
    font-family: 'Nunito';
    font-size: 24px;
    text-decoration-line: underline;
}

.img-on-para img {
    position: absolute;
    right: 10px;
    bottom: 5px;
    width: 164px;
    height: 74px;
}

.country img {
    width: 214px;
    margin: auto;
}

.disclaimer-text {
    padding-top: 3.5rem;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
}

@media only screen and (min-width: 1000px) {
    .ship-service-card {
        background: rgba(255, 255, 255, 0.75);
        border: hidden;
        box-shadow: none;
        // backdrop-filter: blur(8px);
        /* Note: backdrop-filter has minimal browser support */
        border-radius: 0px;
    }
}

@media only screen and (max-width: 678px) {
    .certification-list ul li {
        font-size: 16px;
    }
    .certification-para-text {
        font-size: 14px;
        padding: 0px 18px 0px 18px;
    }
    .img-on-para img {
        position: relative;        
        margin: auto;
        margin-top: 8px;
    }
    .ship-service-card h1, span {
        font-size: 20px;
        padding-top: 18px;
        padding-left: 18px;

    }
    .country h1 {
        font-size: 16px;
    }
    .certificate-heading h2 {
        font-size: 32px;
        line-height: 32px;
    }
    .certificate-heading h4 {
        font-size: 14px;
        line-height: 14px;
    }
    .certificate-heading {
        position: absolute;
        left: 55px;
        font-size:32px;
        line-height: 32px;
        font-weight: 700;
        color: #fff;
    }
}