.font-baner-h1 {
    font-size: 24px;
    line-height: 32.74px;
    color:white;
    font-family: 'Nunito';
    font-weight: 700;
}

.font-baner-h2 {
    font-size: 12px;
    line-height: 16px;
    color:white;
}

.font-baner-number {
    font-size: 30px;
    line-height:20.8px;
    color:white;
    font-family: 'Poppins';
    font-weight: 600;
}

.font-h2 {
    font-size: 20px;
    line-height: 27px;
    color:#08246C;
    font-family: 'Nunito';
    font-weight: 700;
}

.font-para {
    font-size: 14px;
    line-height: 19.1px;
    color:#08246C;
    font-family: 'Nunito';
    font-weight: 500    ;
}

.font-contact-details-headers {
    font-size: 16px;
    line-height: 21.82px;
    color:black;
    font-family: 'Nunito';
    font-weight: 600    ;
}

.font-contact-details-line {
    font-size: 14px;
    line-height: 19.1px;
    color:#08246C;
    font-family: 'Nunito';
    font-weight: 600    ;
}

.font-card-details-headers {
    font-size: 16px;
    line-height: 21.82px;
    color:white;
    font-family: 'Nunito';
    font-weight: 400    ;
}

.font-card-line-title {
    font-size: 16px;
    line-height: 21.82px;
    color:black;
    font-family: 'Nunito';
    font-weight: 600    ;
}

.font-card-line-content {
    font-size: 16px;
    line-height: 21.82px;
    color:black;
    font-family: 'Nunito';
    font-weight: 400    ;
}

.font-license-title {
    font-size: 16px;
    line-height: 21.82px;
    color:#000000;
    font-family: 'Nunito';
    font-weight: 700    ;
}

.font-license-content {
    font-size: 14px;
    line-height: 19.1px;
    color:#08246C;
    font-family: 'Nunito';
    font-weight: 400    ;
}

.font-license-japan {
    font-size: 16px;
    line-height: 21.82px;
    color:#08246C;
    font-family: 'Nunito';
    font-weight: 500    ;
}