.filter-box {
  height: auto;
  background: rgba(255, 255, 255, 0.75);
  border: 2px solid #e7edff;
  box-shadow: 0px 0px 10px rgba(117, 117, 117, 0.15);
  // backdrop-filter: blur(8px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 16px;
}

.btn-search {
  width: 100%;
  margin-top: 20px;
  background: #08246c;
  color: #e7edff;
  border-radius: 8px;
  border: 1px solid #08246c;
  padding: 10px 30px 10px 30px;
}

.btn-clear {
  width: 100%;
  margin-top: 20px;
  border-radius: 8px;
  padding: 10px 30px 10px 30px;
  background: #fff;
  color: #08246c;
  border: 1px solid #08246c;
}

.btn-clear:hover {
  background: rgb(246, 246, 247);
  transition: 0.4s all;
}

.btn-search:hover {
  background: #15327c;
  transition: 0.4s all;
}

.filter-box {
  ::v-deep(.el-form-item__label) {
    font-size: 20px;
  }

  ::v-deep(.el-input__inner) {
    color: var(--primary-blue);
  }
  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--primary-blue);
  }
  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--primary-blue);
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--primary-blue);
  }

  ::v-deep(.el-input__inner):focus {
    border: unset;
    outline: unset;
    box-shadow: unset;
  }
}
