.home {
  .main-section-01 {
    .right-fade {
      min-height: 1026px;
      background: #c1c8da;
      position: absolute;
      right: 0;
    }
  }
  .main-section-02 {
    background-color: #ffffff;
  }
  .shade-window {
  }

  @media (max-width: 600px) {
    .right-fade {
      display: none;
    }
  }

  .fixed-images {
    top: -9rem;
    .back_image {
    }
    .jap_map {
      color: red;
    }
  }
}

.asset-002-bg {
  background: gray;
  position: absolute;
  height: 500px;
}

.groupping-99 {
  position: relative;
  width: 100%;
  .image-vehicle-park {
    width: 802px;
    height: 535px;
  }
  .background-009 {
    position: absolute;
    left: -11.5vw;
    bottom: -59px;
    width: 500px;
    height: 652px;
  }
  @media (max-width: 1024px) {
    .background-009 {
      width: 211px;
      height: 263px;
      bottom: -12px;
      left: -13.5vw;
    }
    .image-vehicle-park {
      width: 343px;
      height: 238px;
    }
  }
}
