.rating_card {
  background: rgba(239, 244, 255, 0.8);
  border: 1px solid #c1c8da;
  box-shadow: 0px 24px 50px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  max-width: 356px;
}
