.topic-text-01 {
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  /* or 35px */

  /* Primary Blue */
}
.service-para-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
.topic-text-03 {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.topic-price-01 {
  font-weight: 700;
  font-size: 96px;
  line-height: 93.02px;
  /* or 35px */

  /* Primary Blue */

  color: #08246c;

  opacity: 0.8;
}
.topic-text-02 {
  font-weight: 400;
  font-size: 40px;
  line-height: 96.9%;
  /* identical to box height, or 39px */

  color: #ffffff;

  opacity: 0.9;
}

.contact-text-01 {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  color: #000000;
}
.svg-icon {
  height: 20px;
  width: 16px;
}
.contact-text-02 {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;

  /* Primary Blue */

  color: #08246c;
}

.table-header {
  background: #08246c;
  height: 60px;
}
.table-row-columns {
  height: 60px;
}
.table-img {
  min-width: 1000px;
}
@media only screen and (min-width: 1000px) {
  .topic-text-01 {
    font-weight: 600;
    font-size: 56px;
    line-height: 76px;
  }
  .table-img {
    min-width: 100%;
  }
  .service-para-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
  }
  .topic-text-03 {
    font-weight: 500;
    font-size: 40px;
    line-height: 55px;
  }
  .contact-text-01 {
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
    /* identical to box height, or 222% */

    /* Gray 2 */

    color: #a098ae;
  }
}
