.filter-form {
    ::v-deep(.el-form-item__label) {
        font-weight: 500;
        font-size: 16px;
        color: #1B1B1B;
    }
    ::v-deep(.el-input__wrapper) {
        font-weight: 500;
        font-size: 14px;
        color: #1B1B1B;
    }
    ::v-deep(.el-select__caret) {
        color: #08246C !important;
    }

    @media (min-width: 640px) {}
}


.filter-box {
    padding: 30px;
    background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
    border: 1px solid #E7E7E7;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.03), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 12px;

}

.primary-blue {
    color: #08246C;
    font-weight: 700;
}

.btn-search {
    height: auto;
    width: 100%;
    background-color: #08246C;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 15px 30px 15px 30px;

}

.btn-reset {
    height: auto;
    width: 100%;
    background-color: #FFFFFF;
    color: #08246C;
    border: 1px solid #08246C;
    border-radius: 4px;
    padding: 15px 30px 15px 30px;

}

.news-letter {
    padding: 20px 25px;
    border-radius: 5px;
    background: #08246C;
    color: #FFFFFF;
    text-align: center;
}

.btn-subscribe {
    background: #FFFFFF;
    color: #08246C;
    padding: 10px 20px;
    border-radius: 6px;
    width: 100%;
}