@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
}

#app {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary-blue: #08246c;
  --primary-red: #ce2832;
  --primary-black: #000000;
}

body {
  min-height: calc(100vh - (60px + 492px));
  height: 100vh;
  transition: all 0.4s linear;
}

.color-01 {
  color: var(--primary-blue);
}
.color-02 {
  color: var(--primary-red);
}
.color-03 {
  color: var(--primary-black);
}
.font-weigh-100 {
  font-weight: 100;
}
.font-weigh-200 {
  font-weight: 200;
}
.font-weigh-300 {
  font-weight: 300;
}
.font-weigh-400 {
  font-weight: 400;
}
.font-weigh-500 {
  font-weight: 500;
}
.font-weigh-600 {
  font-weight: 600;
}
.font-weigh-700 {
  font-weight: 700;
}
.font-weigh-800 {
  font-weight: 800;
}
.font-weigh-900 {
  font-weight: 900;
}
