@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500;600;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
}

#app {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: all 0.3s linear;
  line-height: 1.6;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: calc(100vh - (60px + 492px));
  height: 100vh;
}
